#map {
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.button {
	height: 150px;
	width: 200px;
	background-color: transparent;
	margin-color: grey;
	margin-width: 3%;
	margin-left: 2%;
	margin-bottom: 3%;
	color: black;
	font-weight: 2px;
	font-size: 20px;
}
.button:hover {
	color: #388E8E;
}
<<<<<<< HEAD
.topnav {
  overflow: hidden;
  background-color: #ff9333;
}

.topnav a {
  float: left;
  color: #FFE682;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #FF9B82;
  color: white;
}

.topnav a.active {
  background-color: #d5482c;
  color: white;
}

body,html{
    margin:0;
    width:100%;
    background-color: black;
}
=======

.ajax-error-message {
    color: #E90E0E
}
>>>>>>> 1094d991247c40075c5d7dd5cd12c6c6ea59a4a0
