#map {
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.button {
	height: 150px;
	width: 200px;
	background-color: transparent;
	margin-color: grey;
	margin-width: 3%;
	margin-left: 2%;
	margin-bottom: 3%;
	color: black;
	font-weight: 2px;
	font-size: 20px;
}
.button:hover {
	color: #388E8E;
}

.ajax-error-message {
    color: #E90E0E
}
